<head>
  <title>ee_dashboard</title>
  <script>
  var retVal=null
  var nameDim=null
  var datatable=null
  function RefreshTable() {
        dc.events.trigger(function () {
            alldata = nameDim.top(Infinity);
            //console.log("REFRESH TABLE!")
            //console.log(alldata)
            datatable.fnClearTable();
            datatable.fnAddData(alldata);
            datatable.fnDraw();

        });
    }
  function myFunction(name) {
  						//console.log(decodeURIComponent(name));
              clickedSchool=decodeURIComponent(name);
              nameDim.filter(clickedSchool)
              //$('.nav-tabs a[href=#SchoolFeatures]').tab('show') ;
              //console.log(nameDim)
              //redraw all charts and table!
              dc.redrawAll()
              dc.renderAll()
              RefreshTable()
              //return the name
              //console.log(ndx);
  						//document.getElementById("demo").style.color = "red";
  					}</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="http://d3js.org/queue.v1.min.js"></script>
  <script src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
  <!-- DataTables CSS -->
<!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
 -->
<!-- jQuery -->

<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>

</head>

<body>
  <h1>   </h1>

  {{> dashboard}}
</body>
