<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/custom.css">
  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="./static/DataTables-1.10.5/media/css/jquery.dataTables.css">
  <script src="./static/lib/js/jquery-1.10.2.js"></script>
  <script src="./static/lib/js/jquery.easing.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>


  <script src="./static/lib/js/keen.min.js"></script>
  <script src='./static/js/graphs.js' type='text/javascript'></script>
<!-- jQuery -->
  <script type="text/javascript" charset="utf8" src="./static/DataTables-1.10.5/media/js/jquery.js"></script>

<!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="./static/DataTables-1.10.5/media/js/jquery.dataTables.js"></script>



</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Equal Education Dashboard</a>
      </div>
      <!--<div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
      <li><a href="#">School Information</a></li>
      <li><a href="#">Key School Features</a></li>
      <li><a href="#">Norms and Standards Compliance</a></li>
    </ul>
  </div>-->
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">
      <ul id="tabs" class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#SchoolInfo">School Information</a></li>
        <li role="presentation"><a href="#SchoolFeatures">Key School Features</a></li>
        <li role="presentation"><a href="#">Norms and Standards Compliance</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="SchoolInfo">
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Distribution of Schools
          </div>
          <div class="chart-stage">
                <div id="sa-map"></div>
              </div>
        </div>
      </div>

      <div class="chart-wrapper">
        <div class="chart-title">
          Number of Students
        </div>
        <div class="chart-stage">
              <div id="studentPlot"></div>
            </div>
      </div>
    </div>
    <div class="tab-pane" id="SchoolFeatures" >
    <div class="col-sm-12">
      <div class="chart-wrapper">
        <div class="chart-title">
          School Features
        </div>
        <div class="chart-stage">
              <div id="sa-map"></div>
            </div>
      </div>
    </div>
  </div>
  </div>
  </div>
    <!--<input type="text" id="table-search"></input> -->
      <!--<table class="table table-hover" id="resource-type-row-chart">
        <table id="table_id" class="display">
        <thead>
          <tr class='header'>
            <th>Name</th>
            <th>Type</th>
            <th>Township/Suburb</th>
            <th>District</th>
            <th>EMIS Number</th>
            <th>Male Students</th>
            <th>Female Students</th>
            <th>Total Students</th>
            <th>Teachers</th>
          </tr>
        </thead>
      </table>-->
          <!-- Resources Pie -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                School Information
              </div>
              <table id="example" class="display" cellspacing="0" width="100%">
        				<thead>
        					<tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Province</th>
                    <th>City</th>
                    <th>District</th>
                    <th>Telephone</th>
                    <th>NEIMS</th>
        					</tr>
        				</thead>

        				<tbody>
        				</tbody>
        			</table>
              </div>
            </div>


          <!-- Resources Pie -->

    </div>

  </div>

    <hr>

  </div>


</body>
</html>
